* {
    padding: 0;
    margin: 0;
}

#startScreen {
    position: absolute;
    top: 150px;
    left: 150px;
    text-align: center;
}

#score {
    color: red;
    position: absolute;
    top: 0;
    left: 450px;
    text-align: center;
    display: none;
}

#game {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
}

#energyBall {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 220px;
    animation : energy-ball-movement 600ms linear;
}

#showRecoveryTime {
    position: absolute;
    top: 300px;
    left: 0;
}

.jumping {
    animation: player-jump 400ms linear;
}

@keyframes obstacle-movement {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
}

@keyframes player-jump{
    0% {
        top: 250px;
    }
    25% {
        top: 200px;
    }
    50% {
        top: 180px;
    }
    100% {
        top: 250px;
    }
}

@keyframes energy-ball-movement {
    0% {
        left: 50px;
    }
    100% {
        left: 420px;
    }
}