* {
    padding: 0;
    margin: 0;
}

#startScreen {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#game {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
}

.jumping {
    animation: player-jump 500ms infinite;
}

@keyframes obstacle-movement {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
}

@keyframes player-jump{
    0% {
        top: 250px;
    }
    50% {
        top: 200px;
    }
    100% {
        top: 250px;
    }
}